header {
  display: flex;
  background-color: #ba1f33;
  box-shadow: 0px 10px 0px;
  padding: 10px 20px;
  justify-content: space-between;
}
img {
  width: 60px;
  height: 60px;
}

nav {
  text-align: right;
}

a::before {
  content: '';
  background-color: #7c5e99;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

a {
  color: #ffffff;
  font-size: 20px;
  font-family: 'fira cold', Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  display: inline-flex;
  align-items: center;
}

.box {
  height: 184px;
  width: 627px;
  background-color: rgba(58, 64, 66, 1);
  display: inline-block;
  box-shadow: 10px 10px 00px;
  margin-top: 116px;
  margin-left: 61px;
}
