.action {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Fira Code', sans-serif;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
  display: inline-flex;
  align-items: center;
}
.action::before {
  content: '';
  background-color: #7c5e99;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
