.button {
  display: inline-block;
  background-color: #7c5e99;
  height: 60px;
  line-height: 60px;
  padding: 0px 20px;
  box-shadow: 5px 5px 0px #000000;
  text-decoration: none;
  color: white;
  font-family: 'Fira Code', sans-serif;
}

.button:hover {
  background-color: rgb(118, 35, 185);
  transform: scale(1.03);
}
